services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: omi_app
      MYSQL_USER: omi_user
      MYSQL_PASSWORD: omi_pass_123
      MYSQL_ROOT_PASSWORD: root_pass_123
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  user-service:
    build: ./user-service
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/omi_app?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: omi_user
      SPRING_DATASOURCE_PASSWORD: omi_pass_123
    ports:
      - "9004:9004"

  notification-service:
    build: ./notification-service
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/omi_app?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: omi_user
      SPRING_DATASOURCE_PASSWORD: omi_pass_123
    ports:
      - "9005:9005"

  logic-service:
    build: ./logic-service
    ports:
      - "9002:9002"

  game-service:
    build: ./game-service
    depends_on:
      - redis
      - logic-service
    environment:
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: "6379"
      APP_LOGIC_SERVICE_BASE_URL: http://logic-service:9002
    ports:
      - "9001:9001"

  group-service:
    build: ./group-service
    depends_on:
      - redis
      - game-service
    environment:
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: "6379"
      APP_GAME_SERVICE_BASE_URL: http://game-service:9001
    ports:
      - "9003:9003"

  api-gateway:
    build: ./api-gateway
    depends_on:
      - user-service
      - notification-service
      - group-service
      - game-service
      - logic-service
    environment:
      USER_SERVICE_URL: http://user-service:9004
      NOTIFICATION_SERVICE_URL: http://notification-service:9005
      GROUP_SERVICE_URL: http://group-service:9003
      GAME_SERVICE_URL: http://game-service:9001
      LOGIC_SERVICE_URL: http://logic-service:9002
      USER_SERVICE_JWKS_URI: http://user-service:9004/.well-known/jwks.json
    ports:
      - "9000:9000"

volumes:
  mysql_data:
