apiVersion: apps/v1
kind: Deployment
metadata:
  name: group-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: group-service
  template:
    metadata:
      labels:
        app: group-service
    spec:
      containers:
        - name: group-service
          image: omi-group-service:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9003
          env:
            - name: SPRING_DATA_REDIS_HOST
              value: redis
            - name: SPRING_DATA_REDIS_PORT
              value: "6379"
            - name: APP_PERSISTENCE
              value: redis
            - name: APP_GAME_SERVICE_BASE_URL
              value: http://game-service:9001
